/* All Elements */

* {
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}

header,
main,
footer,
nav,
aside,
section,
article {
    display: block;
}

a {
    text-decoration: none;
}

ul>li {
    list-style-type: none;
}

h1 {
    font-size: 22px;
    color: #000000;
    opacity: 0.45;
}

button {
    background-color: transparent;
}

footer,
.pageh,
.logoM,
#logoM,
#cmntBtmMobile,
#messages,
#notif,
.cmntMobile,
#artOverveiw,
#settings,
#logout,
#notif,
.menu>li:nth-child(2),
.menu>li:nth-child(3),
.menu>li:nth-child(7),
.menu>li:nth-child(8),
.menu>li:nth-child(9),
.billMobile,
.editMobile,
.dltMobile {
    display: none;
}


/* Layout */

main,
#wrapper,
#head-wrap,
#main-wrap {
    max-width: 100vw;
}

#wrapper {
    height: 100vh;
}

#head-wrap,
#main-wrap {
    display: flex;
    position: relative;
    justify-content: center;
}

#header,
#contant {
    width: 95vw;
    display: flex;
}

/* Header */

#header {
    height: 13vh;
    align-items: center;
    background-color: #ffffff;
}

.line {
    opacity: 0.2;
    fill: #9d261d;
    stroke: #9d261d;
    display: flex;
    justify-self: flex-start;
    stroke-width: 5px;
}

header>section {
    position: relative;
}

#logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    display: block;
    position: relative;
    background-size: contain;
    height: 55px;
    width: 300px;
}

#nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
    width: 100%;
}

.ham {
    position: relative;
    width: 30px;
    height: 4px;
    background: #9d261d;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    left: 1vw;
}

.ham:before,
.ham:after {
    content: "";
    position: absolute;
    height: 4px;
    left: 0;
    background: #9d261d;
    border-radius: 10px;
    transition: 0.3s;
}

.ham:before {
    top: -10px;
    width: 20px;
}

.ham:after {
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.ham,
.toggle-menu {
    display: none;
}

#nav input:checked~.ham {
    background: transparent;
}

#nav input:checked~.ham:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

#nav input:checked~.ham:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}



.menu {
    display: flex;
    position: relative;
    flex-flow: row;
    gap: 20px;
    margin: 0;
    align-items: center;
}

nav>ul>li>a,
.artTitle,
.artTitle>a,
#protest>article>h2>a,
#new-prot>div>section>label>span,
.billboard,
aside>section>button,
.prots>h3>a,
#home,
#notif,
#messages,
#protests,
#uprising,
#profile,
#artOverveiw,
#settings,
#logout,
.error-message {
    color: #9d261d;
}


.selected {
    display: block;
    width: fit-content;
    position: relative;
    border-bottom: 2px solid #9d261d;
}

nav>ul>li>a:hover,
.new-prot:hover,
.hamList:hover,
#home:hover,
#protests:hover,
#uprising:hover,
#profile:hover,
#artOverveiw:hover,
#notif:hover,
#messages:hover,
#settings:hover,
#logout:hover {
    font-weight: 800;
}

#left-nav {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.btns {
    display: flex;
    flex-flow: row;
    gap: 15px;
    align-items: center;
    position: relative;
    right: 5px;
}

.d-flex>.form-control {
    display: none;
    outline: none;
    box-shadow: none;
}

.d-flex>.form-control:focus {
    border-color: #9d261d;
}

.new-prot {
    background-color: #9d261d;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-prot>a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
}

.srch,
.notf {
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
}

.srch {
    background-image: url(../svg/search.svg);
}

.notf {
    background-image: url(../svg/bell.svg);
}


/* Body */

#contant {
    padding-top: 17px;
    flex-flow: column;
    min-height: 84vh;
    align-items: center;
    max-height: fit-content;
}

#contant>div {
    justify-content: start;
    display: flex;
    width: 98%;
}

#contant>div>h1 {
    display: flex;
    text-align: start;
}

#contant>section {
    flex-flow: row;
    display: flex;
    gap: 4%;
    justify-content: center;
}

#main-con {
    min-height: 70vh;
    min-width: 60vw;
    max-width: 60vw;
    display: flex;
    background-color: #f1f1f1;
    position: relative;
}

#aside-con {
    display: flex;
    min-width: 30vw;
    max-width: 30vw;
    min-height: 70vh;
    max-height: fit-content;
    background-color: #f1f1f1;
    flex-flow: column;
    align-items: center;
}


/* Login */

#contant>.login,
#contant>.sign {
    align-items: center;
    flex-flow: column;
    justify-content: center;
    display: flex;
    gap: 2vh;
}

#contant>.login {
    height: 55vh;

}

#contant>.sign {
    height: 70vh;
}

.titles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    width: inherit;
    gap: 3%;
}

.titles>h2>a,
.titles>h1>a {
    font-weight: 400;
    font-size: 24px;
    line-height: 33.12px;
}

.titles>h1,
.titles>h1>a {
    color: #9d261d;
    opacity: 1;
}

.titles>h2>a {
    color: #000000;
    opacity: 0.38;
    width: fit-content;
    position: relative;
}

#frmlg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 1.5vh;
}


#frmlg>.form-group {
    display: flex;
    flex-flow: column;
    gap: 0.5vh;
}


#frmlg>.form-group>input {
    width: 26vw;
}

#frmlg>.form-group>label {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

#frmlg>button {
    margin-top: 1vh;
}


.logProt {
    background-image: url(../svg/prot.svg);
    width: 1070px;
    height: 300px;
    opacity: 0.1;
    display: flex;
    position: fixed;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    z-index: -1;
}

.check {
    align-self: self-start;
}

/* index */
#main-index {
    display: flex;
    flex-direction: column;
}

#main-bill,
#main-interest {
    display: flex;
    background-color: #f1f1f1;
    position: relative;
    flex-flow: column;
    gap: 5%;
    padding: 15px;
}

#main-interest .list {
    background-color: #f8f8f8;
    padding: 2%;
    width: 98%;
    margin: 0px;
}

#main-interest .list>ul {
    padding: 0px;
}

#main-interest .list .prots {
    background-color: #ffffff;

}

#main-bill>h3,
#main-interest>h3 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

#map {
    height: 58vh;
    width: 58vw;
}

#billbrdList {
    display: none;
}

.bilbrd {
    display: flex;
    width: 95%;
    height: 95%;
    background-color: #ffffff;
    gap: 5%;
    padding: 15px;
}

.bilbrd>section {
    display: flex;
    flex-flow: column wrap;
    gap: 5%;
}

.bilbrd h6 {
    color: #9d261d;
    font-size: 16px;
    font-weight: bold;
}

.bilbrd span {
    color: #9d261d;
    font-size: 14px;
    font-weight: 600;
}

.bilbrd p {
    color: #000;
    font-size: 12px;
    line-height: 20px;
}

.bilbrd>img {
    width: 110px;
    height: 110px;
}

/* Search */

.list {
    display: flex;
    margin: 17px 23px;
}

.list>ul {
    display: flex;
    flex-flow: column;
    gap: 17px;
}

.prots {
    box-sizing: unset;
    width: 96%;
    column-gap: 10px;
    margin-right: 0px;
    background-color: #f8f8f8;
    padding: 5px 0px 20px 14px;
    display: grid;
    grid-template-columns: [start] fit-content(10%) [middle] fit-content(80%) [date] fit-content(10%) [end];
    grid-template-rows: [first] fit-content(6%) [second] fit-content(12%) [third] fit-content(12%) [last]fit-content(70%);
    grid-template-areas: "date date date" "circle title title" "circle categories categories" "circle summary summary";
}

.prots>span {
    grid-area: date;
    justify-self: end;
    align-self: end;
}

.profile {
    grid-area: circle;
}

.artTitle {
    text-transform: uppercase;
    grid-area: title;
    align-self: center;
    margin-top: 10px;
}

.artTitle>a,
.prots>h3>a {
    text-transform: uppercase;
}

.artTitle,
.artTitle>a,
#protest>article>h2>a {
    font-size: 18px;
    font-weight: 600;
}

.categ {
    grid-area: categories;
    margin-bottom: 0px;
}

.categ,
.categ>a {
    color: #919191;
    font-size: 12px;
}

.categ>a {
    text-decoration: underline;
}

.summary {
    grid-area: summary;
}

.search-aside {
    display: flex;
    flex-flow: column;
    min-width: 75%;
    max-width: fit-content;
    position: relative;
    top: 5%;
    gap: 17px;
}

.search-aside>div {
    display: flex;
    flex-flow: row;
    gap: 10px;
}

.search-aside>div>input {
    margin-top: 3px;
}

.search-aside>div>label {
    font-size: 18px;
    font-weight: 600;
}

.sorts {
    font-size: 24px;
    font-weight: 600;
}

.filter {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.filter>section {
    margin-top: 15px;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.filter>section>h4 {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}

.search-aside>button {
    align-self: center;
}

.form-select,
.form-control {
    outline: none;
    box-shadow: none;
}

.form-select:focus,
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #edeeef;
}

.search-aside>button {
    margin-bottom: 10px;
}

/* New Protest */

#new-prot {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
    margin: 18px 19px;
    width: 80%;
    max-height: fit-content;
}

#part1,
#part2 {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

#part1>section,
#part2>section {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

#new-prot>div>section>label {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    font-weight: 1000;
}

#new-pro>div>section>input[type="text"] {
    width: 30vw;
    min-height: 3vh;
}

.sumCon {
    max-width: 60vw;
    height: 10vh;
}

.proCon {
    max-width: 60vw;
    height: 20vh;
}

/* .cmntBtn, */

.btn {
    background-color: #9d261d;
    color: #ffffff;
}

.btn:hover {
    border-color: #9d261d;
    border-style: solid;
}

.sortAnd {
    max-width: fit-content;
    align-self: center;
}

.newBtn {
    min-width: 174px;
    max-width: fit-content;
    height: 49px;
    font-size: 20px;
}

.cmntBtnDisabled {
    width: 174px;
    height: 49px;
    background-color: #9d261d;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    outline: none;
    position: relative;
    margin-top: 26px;
}

.next {
    display: flex;
    align-items: center;
    max-height: fit-content;
}

#backButton {
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
    height: 49px;
    width: 114px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#backButton:hover {
    border: #9d261d;
    border-style: groove;
    background-color: transparent;
    border-width: 1px;
}

.categoriesUl {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0px;
    height: 1em;
}

.categoriesLi {
    width: fit-content;
    height: fit-content;
    background-color: #9d261d;
    color: #ffffff;
    margin: 0px;
    padding: 5px;
    cursor: pointer;
}

.prog {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 28px;
    margin: 28px 0px;
}

.prog>h2 {
    margin: 0px;
    font-size: 22px;
    font-weight: 600;
}

.circlesCon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 18vw;
    z-index: 1;
}

circle {
    stroke: none;
    stroke-width: 3px;
    fill: #ffffff;
}

svg>text {
    text-anchor: middle;
    font-size: 20px;
    font-weight: bold;
    fill: black;
}

.lineCon {
    display: flex;
    position: relative;
    width: 10vw;
    left: 80px;
    bottom: 50px;
    stroke: #9d261d;
    stroke-width: 5px;
}

#part2>:nth-child(3) {
    flex-flow: row;
    gap: 8px;
}

#part2>:nth-child(4)>select {
    position: relative;
    max-width: fit-content;
}

#part2>:nth-child(5) {
    flex-flow: row;
    position: relative;
    gap: 15vw;
    top: 70%;
}

#part2>:nth-child(5)>input {
    margin: 0px;
}


/* protest */

#protest {
    margin: 17px 23px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
    min-width: -webkit-fill-available;
}

#protest>:nth-child(4),
#protest>:nth-child(6) {
    display: flex;
    flex-flow: column;
    gap: 10px;
    flex-wrap: wrap;
}

#protest>article>h2 {
    font-size: 18px;
    font-weight: 600;
}

#protest>:nth-child(4) {
    width: 96%;
}

#protest>:nth-child(4)>label {
    margin: 0px;
}

.prots>h3 {
    font-size: 18px;
    font-weight: 600;
}

#protest>:nth-child(3),
#protest>:nth-child(5) {
    width: 100%;
}

.postTools {
    display: flex;
    flex-flow: row;
    gap: 25px;
    width: 96%;
    align-items: center;
}

.postToolsBtn {
    display: flex;
    flex-flow: row;
    gap: 5px;
    align-items: center;
}

#followBtn {
    background-image: url(../svg/filePlus.svg);
    width: 20px;
    height: 20px;
}

#muteBtn {
    background-image: url(../svg/slash.svg);
    width: 20px;
    height: 20px;
}

#followBtn,
#muteBtn,
.Like,
.Liked {
    border: none;
    outline: none;
    border-style: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.Like,
.Liked {
    width: 24px;
    height: 24px;
    align-self: self-end;
}

.Like {
    background-image: url(../svg/unlike.svg);
}

.Liked {
    background-image: url(../svg/like.svg);
}

#likesCount,
.postTools>section>span {
    color: #9d261d;
}

#comments {
    display: flex;
    flex-flow: row;
    align-items: center;
    min-width: -webkit-fill-available;
}

/* .cmntBtn, */

.cmntBtnDisabled {
    margin: 0px;
    width: 96px;
    height: 31px;
    align-self: flex-end;
}

.cmntBtnDisabled {
    opacity: 0.5;
}

.cmnts {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
}

.form-select {
    width: fit-content;
}

.cmntList {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 96%;
    margin-right: 0px;
    background-color: #f5f5f5;
    padding: 14px 0px 20px 14px;
}

.cmntGrid {
    background-color: #fafafa;
    display: grid;
    column-gap: 10px;
    width: 98%;
    padding: 14px 10px;
    grid-template-columns: [start] fit-content(10%) [end] fit-content(90%);
    grid-template-rows: [first] fit-content(12%) [second] fit-content(88%);
    grid-template-areas: "profile username username" "profile comment comment";
}

.cmntProf {
    grid-area: profile;
}

.user {
    grid-area: username;
    margin-top: 10px;
    text-transform: uppercase;
    color: #000000;
}

.cmntText {
    grid-area: comment;
}

.protTools {
    margin-top: 17px;
    box-sizing: unset;
    display: grid;
    justify-items: center;
    min-width: 80%;
    max-width: 80%;
    grid-template-columns: [start] 46% [end] 8% [end] 46%;
    grid-template-rows: [first] fit-content(15%) [second] fit-content(15%) [third] fit-content(70%);
    grid-template-areas: "billboard billboard billboard" "edit . delete" "art art art";
}

.billboard,
.artSlot {
    grid-area: billboard;
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.editBtn {
    grid-area: edit;
}

.deleteBtn {
    grid-area: delete;
}

.deleteBtn,
.editBtn {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.activistArt {
    grid-area: art;
}

aside>section>button {
    font-size: 18px;
    border: none;
    outline: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.artSlot,
.billboard {
    opacity: 0.4;
}

.artSlot,
.billboard,
.editBtn,
.deleteBtn {
    width: 100%;
    font-size: 25px;
    margin-top: 17px;
}

.tool-con {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0px 12px;
}

.tool-con>span,
.editBtn>span,
.deleteBtn>span {
    color: #9d261d;
    text-align: center;
}

.deleteBtn>div {
    width: 2px;
}

.artSlot>section>.startLine,
.billboard>section>.startLine,
.editBtn>section>.startLine,
.deleteBtn>section>.startLine {
    display: flex;
    position: relative;
    align-self: flex-start;
}

.artSlot>section>.endLine,
.billboard>section>.endLine,
.editBtn>section>.endLine,
.deleteBtn>section>.endLine {
    display: flex;
    position: relative;
    align-self: flex-end;
}

.startLine,
.endLine {
    display: flex;
    align-self: center;
    stroke: #9d261d;
    stroke-width: 3px;
}

.artSlot>section>.icon,
.billboard>section>.icon,
.editBtn>section>.icon,
.deleteBtn>section>.icon {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 10px;
}

.artSlot>section>.icon {
    background-image: url(../svg/image.svg);
}

.billboard>section>.icon,
#billBtmMobile {
    background-image: url(../svg/billboard.svg);
}

.editBtn>section>.icon,
#editBtmMobile {
    background-image: url(../svg/edit.svg);
}

.deleteBtn>section>.icon,
#dltBtmMobile {
    background-image: url(../svg/trash.svg);
}

.activistArt {
    margin-top: 17px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.activistArt>span {
    margin: 10px 0px;
}

.activistArt>section {
    display: flex;
    flex-flow: column;
    width: 18vw;
    background-color: #f8f8f8;
    align-items: center;
}

.activistArt>section>h3 {
    align-self: center;
    font-size: 22px;
    font-weight: 600;
    color: #9d261d;
}

.displayNone {
    display: none;
}

.artGrid {
    overflow: hidden;
    column-gap: 5px;
    box-sizing: unset;
    display: grid;
    justify-items: center;
    align-items: center;
    min-width: 90%;
    max-width: 90%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "artBox1" "artBox2";
}

.artBox1 {
    grid-area: artBox1;
    background-image: url(../images/ronitPost1.png);
    height: 168px;
}

.artBox2 {
    grid-area: artBox2;
    background-image: url(../images/ronitPost2.png);
    height: 196px;
}

.artBox1,
.artBox2 {
    width: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.activistArt>section>div {
    display: flex;
    flex-flow: row;
    gap: 2px;
    align-self: flex-start;
}

.attach {
    background-image: url(../svg/attach.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 12px;
    width: 12px;
    display: flex;
    justify-self: end;
    align-self: center;
    margin: 5px 0px 0px 5px;
}

#nav input:checked~.menu {
    left: 0px;
}

/* Laptop */

@media screen and ((min-width: 1024px) and (max-width: 1200px)) {

    /* Laptop layout */
    .menu {
        gap: 10px;
    }

    #frmlg>.form-group>input {
        width: 33vw;
    }

    #header {
        width: 98.5vw;
    }

    #left-nav {
        gap: 0px
    }

    .btns {
        gap: 5px;
    }

    #profile {
        display: none;
    }

    nav>ul {
        padding: 10px;
        gap: 10px;
    }

    nav>ul>li:nth-child(4),
    nav>ul>li:nth-child(5),
    nav>ul>li:nth-child(6),
    nav>ul>li:nth-child(7) {
        display: none;
    }

    .new-prot {
        position: relative;
        right: 5px;
    }

    /* search  Tablet*/
    .list>ul,
    ul {
        padding: 0px;
    }

    .prots {
        padding: 10px 15px;
        margin: 0px;
    }

    /* New Protest */
    .circlesCon {
        width: 22vw;
    }
}



/* Phone and Tablet*/

@media only screen and (max-width: 1023px) {

    #frmlg>.form-group>input {
        min-width: 260px;
        width: 45vw;
    }

    .list>ul,
    ul {
        padding: 0px;
    }

    #contant>div,
    #aside-con,
    #protest>.line,
    #protest>.line>svg,
    #protest>.line>svg>line,
    .deskLogo,
    #logo,
    .btns,
    .nav-link,
    .dropdown-toggle,
    .dropdown-menu,
    #protests,
    #uprising,
    .menu>li:nth-child(4),
    .menu>li:nth-child(5),
    .menu>li:nth-child(6),
    .logProt,
    #map {
        display: none;
    }

    .menu>li {
        font-size: 20px;
        padding-top: 10px;
    }

    #settings,
    #logout,
    #notif,
    #messages,
    .menu>li:nth-child(2),
    .menu>li:nth-child(3),
    .menu>li:nth-child(8),
    .menu>li:nth-child(9) {
        display: flex;
    }

    .sticky-top {
        width: 100vw;
        background-color: #ffffff;
    }

    .ham,
    .toggle-menu {
        display: block;
    }

    #nav input:checked~.menu {
        left: 0px;
    }

    .menu {
        justify-content: start;
        flex-direction: column;
        top: 0px;
        left: -300px;
        z-index: 1;
        position: fixed;
        background: #eeeeee;
        width: 300px;
        height: 100%;
        padding-top: 65px;
        transition: 0.3s;
        direction: ltr;
    }

    #wrapper>div {
        position: fixed;
    }

    .sticky-top {
        height: 14vh;
    }

    #header {
        height: 10vh;
        justify-content: center;
        width: 98vw;
    }

    .line {
        width: 100%;
        position: fixed;
        height: 1vh;
    }

    #main-wrap {
        max-width: 99vw;
    }

    #contant {
        padding: 13vh 0px 10vh;
        width: 100%;
    }

    .logoM {
        display: flex;
    }

    /* .ham, */
    #logoM,
    .back,
    .homePage,
    .uprising,
    .protests,
    .srchm,
    .searchSelM {
        display: block;
        background-repeat: no-repeat;
        position: relative;
        background-size: contain;
        border: none;
    }

    #logoM {
        background-image: url(../images/logoM.png);
        height: 50px;
        width: 200px;
    }

    nav>ul {
        display: flex;
        position: relative;
        flex-direction: column;
        top: 150px;
        font-size: 30px;
        font-weight: bold;
    }

    .back {
        background-image: url(../svg/chevronLeft.svg);
        width: 24px;
        height: 24px;
        margin: 2px 0px 0px;
    }

    .pageh {
        height: 5vh;
        display: flex;
        background-color: #ffffff;
        align-items: center;
    }

    .pageh>h1 {
        display: flex;
        flex-flow: row;
    }

    .pageh>a>h1 {
        margin: 0px;
        color: #9d261d;
        opacity: 1;
        margin-left: 24px;
        display: flex;
        flex-flow: row;
        margin: 0px;
    }

    #main-con {
        max-width: 98%;
        display: flex;
        position: relative;
        flex: 1;
        max-height: inherit;
    }

    footer {
        height: 10vh;
        display: flex;
        position: fixed;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: #ffffff;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }

    #footer-con {
        display: flex;
        flex-flow: row;
    }

    .homePage {
        background-image: url(../svg/homeUnselected.svg);
    }

    .uprising {
        background-image: url(../svg/uprising-unselected.svg);
    }

    .protests {
        background-image: url(../svg/protest-unselected.svg);
    }

    .srchm {
        background-image: url(../svg/searchM.svg);
    }

    .homeHam {
        background-image: url(../svg/homeSelected.svg);
    }

    .searchSelM {
        background-image: url(../svg/searchMSelected.svg);
    }

    .homePage,
    .uprising,
    .protests,
    .srchm,
    .searchSelM {
        width: 45px;
        height: 45px;
    }

    .new-prot {
        height: 60px;
        width: 80px;
    }

    .new-prot>a {
        font-size: 30px;
    }

    /* Index */

    #billbrdList {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 15px;
        background-color: #f8f8f8;
        align-items: center;
        padding: 2%;
    }

    #main-bill,
    #main-interest {
        padding: 2.5vh;
    }

    .bilbrd {
        background-color: #ffffff;
        width: 95%;
        height: 95%;
        padding: 2%;
    }

    .bilbrd>section {
        gap: 1%
    }


    /* Search */
    .list {
        justify-content: center;
        margin: 10px 0px 0px;
    }

    .list>ul>li,
    .prots {
        padding: 5px 15px 5px 10px;
    }

    .list>ul>li {
        display: flex;
        justify-content: center;
    }

    .prots>h3 {
        font-size: 15px;
    }

    .summary {
        font-size: 14px;
    }

    .profile {
        padding-left: 5px;
    }

    .prots>span {
        font-size: 14px;
    }

    .artTitle,
    .artTitle>a {
        font-size: 15px;
    }


    /* New Protest */
    #main-con {
        justify-content: center;
        min-width: 96.5vw;
        max-width: 96.5vw;
        align-items: center;
        align-self: center;
    }

    #new-prot {
        margin: 0px;
    }

    .sumCon,
    .proCon {
        max-width: 100%
    }

    .categoriesUl {
        margin: 0px;
        flex-wrap: wrap;
        height: 5em;
    }

    /*  Protest */
    .cmntList {
        padding-right: 20px;
    }

    .user {
        font-size: 15px;
    }

    .cmntText {
        font-size: 13px;
    }

    .postTools {
        justify-content: center;
        flex-wrap: wrap;
    }

    .cmntMobile,
    .billMobile,
    .editMobile,
    .dltMobile,
    .postTools:first-child {
        display: flex;
        flex-flow: row;
        gap: 5px;
        align-items: center;
    }

    #cmntBtmMobile,
    .cmntBtmMobUnSel,
    .cmntBtmMobSel,
    #billBtmMobile,
    #editBtmMobile,
    #dltBtmMobile {
        width: 22px;
        height: 22px;
        border: none;
        outline: none;
        border-style: none;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
    }

    #dltBtmMobile {
        margin: 0px;
    }

    .cmntBtmMobUnSel {
        background-image: url(../svg/cmntUn.svg);
    }

    .cmntBtmMobSel {
        background-image: url(../svg/cmnt.svg);
    }

    .commentSection {
        display: none;
        transform: translateY(-30px);
        transition: opacity 0.3s, transform 0.3s;

    }

    #sbmcm {
        justify-content: center;
    }

    .commentSectionShow {
        display: flex;
        transform: translateY(0px);

    }

    /* Login Phone */


    .titles {
        gap: 30px;
    }

    #frmlg {
        gap: 15px;
    }

    #contant>.login {
        height: 65vh;
    }
}